apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: elastic-agent
  namespace: elastic-agent
spec:
  selector:
    matchLabels:
      app: elastic-agent
  template:
    metadata:
      labels:
        app: elastic-agent
    spec:
      serviceAccountName: elastic-agent
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      tolerations:
      - operator: Exists
      containers:
      - name: elastic-agent
        image: docker.elastic.co/beats/elastic-agent:8.12.0
        securityContext:
          privileged: true
        env:
        - name: ELASTICSEARCH_HOST
          value: "http://elasticsearch.logging.svc.cluster.local:9200"
        - name: KIBANA_HOST
          value: "http://kibana.logging.svc.cluster.local:5601"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName